<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h2>Statuses</h2>
<% @user.statuses.each do |status| %>
	<p>
		<b>Status:</b>
		<%= status.status %>
	</p>

	<p>
		<b>Image:</b>
		<%= status.image_url %>
	</p>

	<p>
		<b>Geocode:</b>
		<%= status.geocode %>
	</p>
<% end %>

<h2>Add a status:</h2>
<%= form_for([@user, @user.statuses.build]) do |f| %>
	<div class="field">
		<%= f.label :status %><br />
		<%= f.text_area :status %>
	</div>
	<div class="field">
		<%= f.label :image_url %><br />
		<%= f.text_field :image_url %>
	</div>
	<div class="field">
		<%= f.label :geocode %><br />
		<%= f.text_field :geocode %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>

<br />

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
